:root {
  --primary-color: #ff7e7e;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Jost", sans-serif;
}

.hero {
  background: white;
  padding: 160px 20px;
}
nav ul {
  list-style: none;
}
nav li {
  margin-right: 35px;
  margin-top: 20px;
}
nav li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
}
nav li.active a {
  text-decoration: underline;
}
nav li a:hover {
  text-decoration: underline;
}
.about-section {
  padding: 160px 20px;
}
.contact {
  padding: 160px 20px;
}
.contact h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.contact a {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}
.contact h4 {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.work {
  padding: 160px 20px;
}
.text p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}
.text-2 p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}
.text {
  padding: 100px 0 0;
  margin: 0;
}
.text-2 {
  padding: 150px 0 0;
  margin: 0;
}
.text-2 h3 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 35px;
  font-weight: 600;
}
.text h3 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0;
}
.work h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.about-section p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  margin-left: 520px;
}
#who h1 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: 600;
  margin-left: 224px;
}
#who h5 {
  font-family: var(--heading-font-family);
  font-size: 17px;
  font-weight: 600;
  margin-left: 229px;
}
p {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 17px;
  margin: 229px;
}

.button-1 {
  background: var(--primary-color);
  border: var(--primary-color) solid 1px;
  border-radius: 100px;
  padding: 2px 60px;
  margin-right: 65px;
  margin-left: 350px;
  margin-bottom: 200px;
}
.button-1 a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.button-2 {
  border: var(--primary-color) solid 1px;
  border-radius: 100px;
  background: white;
  padding: 10px 35px;
  margin-bottom: 200px;
}
.button-2 a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}
.location {
  text-align: center;
}
.button-3 {
  border: var(--primary-color) solid 1px;
  border-radius: 100px;
  background: white;
  padding: 10px 25px;
}
.button-3 a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 15px;
}
@media (max-width: 950px) {
  #who h1 {
    font-size: 40px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .work {
    padding: 60px 20px;
  }
  .weather {
    margin-bottom: 30px;
  }
  .guitar {
    margin: 0 auto;
    display: block;
  }
  .text {
    padding: 0;
  }

  .text-2 h3 {
    text-align: center;
    margin-top: 20px;
  }
  .text-2 {
    padding: 0;
  }
  .text h3 {
    text-align: center;
  }
  .text p {
    margin-bottom: 40px;
  }
  .about-section p {
    text-align: center;
    margin: 0;
  }
  #who h5 {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 0;
    text-align: center;
  }
  .hero {
    padding: 0;
    text-align: center;
  }
  p {
    font-size: 15px;
    margin: 0;
    text-align: center;
  }
  .button-1 {
    background: var(--primary-color);
    border: var(--primary-color) solid 1px;
    border-radius: 100px;
    padding: 10px 70px;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .button-1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  .button-2 {
    border: var(--primary-color) solid 1px;
    border-radius: 100px;
    background: white;
    padding: 10px 35px;
    margin: 0;
    margin-right: 20px;
    text-align: center;
  }
  .button-2 a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 25px;
  }
  nav li a {
    font-size: 15px;
    text-align: center;
  }
  nav li {
    margin-right: 20px;
  }
}
